// ─── Paleta base ───────────────────────────────────────


// Navbar
$navbar-bg: #0b081c;
$navbar-border: #334155;

// Fondo
$background:  #020617;
$background-secondary: #0F172A;
$background-primary: #ffffff;

// Superficies
$card: #1E293B;
$card-secondary: #334155;;
$card-hover: #475569;

// Border
$border: #475569;

// Texto
$text-primary: #F8FAFC;
$text-secondary: #CBD5E1;
$text-muted: #94A3B8;

// Marca
$primary: #38BDF8;
$primary-hover: #0EA5E9;


// Transparente
$transparent: transparent;


// errores
$error: #ff0000

