//size de fuentes
$font-size-title: 32px;
$font-size-body: 16px;
$font-size-small: 12px;
$font-size-large: 50px;
$font-responsive:  clamp(1rem, 1vw + 0.8rem, 1.5rem);

// Tipologia de fuentes
$font-family: 'Roboto', sans-serif;

// Grosor de fuentes
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-bold: 700;


// espaciado de lineas vertica
$line-height: 1.5;
