<div class="contenedorredes">

  <a href="https://github.com/joseluismadrid" target="_blank" class="tooltip">
    <img src="assets/icons/github.png" alt="GitHub"  class="github-icon">
    <span class="tooltiptext">GitHub</span>
  </a>

  <a href="https://co.linkedin.com/in/jose-luis-madrid-londo%C3%B1o-217b38274" target="_blank" class="tooltip">
    <img src="assets/icons/linkedin.png" alt="LinkedIn">
    <span class="tooltiptext">LinkedIn</span>
  </a>

  <a href="mailto:joseluis6112011@hotmail.com" class="tooltip">
    <img src="assets/icons/gmail.png" alt="Gmail">
    <span class="tooltiptext">Correo</span>
  </a>

  <a href="https://www.instagram.com/joseluismadridlondono" target="_blank" class="tooltip">
    <img src="assets/icons/instagram.png" alt="Instagram">
    <span class="tooltiptext">Instagram</span>
  </a>

  <a href="https://wa.me/573112716697" target="_blank" class="tooltip">
    <img src="assets/icons/whatsapp.png" alt="WhatsApp">
    <span class="tooltiptext">WhatsApp</span>
  </a>

</div>
